<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Admin</title>
</head>
<body>
    <div class='container'>
        <div class="jumbotron">
            <h2> Welcome :{{name}}</h2>    
          </div>

          <table style="width:100%">
            <tr>
              <th><h4>Name:</h4></th>
              <td><h4>{{name}}</h4></td>
            </tr>
            <tr>
              <th><h4>Telephone:</h4></th>
              <td><h4>{{mno}}</h4></td>
            </tr>
            <tr>
                <th><h4>Email:</h4></th>
                <td><h4>{{email}}</h4></td>
              </tr>
            
          </table>
    
          <a href="addEmployee.html" class="btn btn-primary btn-lg btn-block"> Add-Employee</a>
          <a href="www.youtube.com" class="btn btn-primary btn-lg btn-block"> delete-Employee</a>
          <a href="index.html" class="btn btn-primary btn-lg btn-block"> Logout</a>

    


</body>
</html>